body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0d1117;
  color: #fff;
}

header {
  text-align: center;
  padding: 30px 0;
  background: #161b22;
  border-bottom: 2px solid #30363d;
}

header h1 {
  margin: 0;
  font-size: 32px;
}

header p {
  margin: 5px 0 0;
  color: #8b949e;
}

.cards {
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.card {
  background: #161b22;
  padding: 25px;
  width: 200px;
  text-align: center;
  border: 1px solid #30363d;
  border-radius: 10px;
}

.card h2 {
  margin-bottom: 10px;
  color: #58a6ff;
}

.card p {
  font-size: 26px;
  font-weight: bold;
}

.table-container {
  padding: 20px;
}

table {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
  background: #161b22;
  border-radius: 10px;
  overflow: hidden;
}

th {
  background: #21262d;
  padding: 12px;
}

td {
  padding: 10px;
  border-bottom: 1px solid #30363d;
}

tr:hover {
  background: #1e2631;
}

.ok {
  color: #3fb950;
}

.alerta {
  color: #d29922;
}

.critico {
  color: #f85149;
}
